In [2]:
#Task 4: Executing SQL Commands and SQL-style Functions on a DataFrame

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SQL Example").getOrCreate()

# Sample DataFrame
data = [("John", 30), ("Jane", 25), ("Mary", 35)]
columns = ["Name", "Age"]
df = spark.createDataFrame(data, columns)

# Register DataFrame as a SQL temporary view
df.createOrReplaceTempView("people")

# Execute SQL query
result = spark.sql("SELECT Name, Age FROM people WHERE Age > 28")
result.show()

spark.stop()

+----+---+
|Name|Age|
+----+---+
|John| 30|
|Mary| 35|
+----+---+